@import '../../assets/color-variables/colors.scss';
@import '../../assets/global-styles/app.css';

.search {

    &__input {
        border-radius: 30px;
        padding: 0.5rem;
        width: 99%;
        background-color: $background;
        border: 1px solid $border;
        transition: border-color 0.2s ease;
        cursor: pointer;

        &:hover {
            border-color: $text;
        }
    }
}