@import '../../assets/global-styles/app.css';
@import '../../assets/color-variables/colors.scss';

.feed {
    display: flex;
    flex-direction: column;
    border: 1px solid $border;
    max-width: 30rem;
    background-color: $card;

    &__post {
        display: flex;
        align-items: center;
        padding: 1rem;
        padding-bottom: 0.5rem;

        &__form {
            width: 100%;
            
            &__input {
                width: 97%;
                background-color: inherit;
                resize: none;
                border: transparent;
                font-size: var(--font-base);

                &__append {
                    display: flex;

                    &>label {
                        margin: 0 0.3rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &__post {
                        margin-left: auto;
                        opacity: 0.7;
                        padding: 0.5rem;
                        font-weight: 500;
                        color: black;
                        border: 0;
                        transition: opacity 0.3s ease;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        
        &__img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.7rem;
            margin-top: -2rem;
        }
    }

    &__tweet {

        &__user {
            display: flex;
            align-items: center;
            border-top: 1px solid $border;
            padding: 1rem;
    
            &__img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.7rem;
            }

            &__info {
                width: 100%;
                display: flex;
                flex-direction: column;

                &__name {
                    font-weight: 800;
                    text-decoration: none;
                    font-size: var(--font-sm);
                }

                &__handle {
                    font-size: var(--font-xs);
                    padding-left: 0.3rem;
                    color: white;
                    opacity: 0.4;
                }

                &__timestamp {
                    font-size: var(--font-xs);
                    padding-left: 0.3rem;
                    color: white;
                    opacity: 0.4;
                }
            }

            &__post {
                font-size: var(--font-sm);
            }
        }

        &__layout {
            display: flex;
            align-items: center;
        }
    }
}