@import '../../assets/global-styles/app.css';
@import '../../assets/color-variables/colors.scss';

.SideFeed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    margin: 1rem;

    &__search {
        border-radius: 30px;
        padding: 0.5rem;
        width: 99%;
        background-color: $background;
        border: 1px solid $border;
        transition: border-color 0.2s ease;

        &:hover {
            cursor: pointer;
            border-color: $text;
        }
    }

    &__card {
        border: 1px solid $border;
        border-radius: 15px;
        padding: 1rem;
        padding-bottom: 0;

        &__header {
            padding-bottom: 0.5rem;
        }

        &__suggestions {
            display: flex;
            
            &__img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.7rem;
                margin-bottom: 1rem;
            }

            &__name {
                font-weight: 800;
                text-decoration: none;
                font-size: var(--font-sm);
            }

            &__handle {
                font-size: var(--font-xs);
                color: white;
                opacity: 0.4;
            }
        }
    }
}